@model Models.Entities.Author
@{
    ViewData["Title"] = "Details";
}
<h1 class="mt-4">Author Detail Page</h1>
<hr>

<div class="card mt-4">
  <h5 class="card-header">#@Model.AuthorId</h5>
  <div class="card-body">
    <h5 class="card-title">@Model.AuthorName @Model.AuthorSurname</h5>
    <p class="card-text"><span style="font-weight:bold; color:#7f8c8d">Date Of Birth:</span> @Model.AuthorDateOfBirth</p>
 <a class="btn px-3" style="background-color:#FEA47F" asp-action="Index"><i class="fa-solid fa-arrow-left"></i></a> 
  </div>
</div>