@model Models.Entities.Category
@{
    ViewData["Title"] = "Delete";
}
<h1 class="mt-4">Category Delete</h1>
<hr>
<div class="card mt-5">
  <h5 class="card-header">#@Model.CategoryId</h5>
  <div class="card-body">
    <h5 class="card-title">@Model.CategoryName</h5>
    <p class="card-text">@Model.CategoryDescription</p>
    <form asp-action="Delete">
    <input type="hidden" asp-for="CategoryId">
    <input type="submit" value="Delete" class="btn btn-outline-danger px-4 py-2">
    
</form>
  </div>
</div>
