@model Models.Entities.Category
@{
    ViewData["Title"] = "Details";
}
<h1 class="mt-4">Category Detail Page</h1>
<hr>

<div class="card mt-4">
  <h5 class="card-header">#@Model.CategoryId</h5>
  <div class="card-body">
    <h5 class="card-title">@Model.CategoryName</h5>
    <p class="card-text">@Model.CategoryDescription</p>
 <a class="btn px-3" style="background-color:#FEA47F" asp-action="Index"><i class="fa-solid fa-arrow-left"></i></a> 

  </div>
</div>

