
.cine{
    font-size: 17pt;
    color:lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wissen{
    font-size: 17pt;
    color:lightseagreen;
    font-family: 'Great Vibes', cursive;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-weight: bold;
}

